@model Twilio.Address

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Skeleton.cshtml";
}

<h2>Edit</h2>

<div class="row">
    @using (@Html.BeginForm("EditAddress", "SendSMS", FormMethod.Post))
    {
        <fieldset>
            @Html.HiddenFor(m => m.Sid)
            <label>Customer Name:</label>
            @Html.TextBoxFor(m => m.CustomerName)
            <label>Street</label>
            @Html.TextBoxFor(m => m.Street)
            <label>City</label>
            @Html.TextBoxFor(m => m.City)
            <label>Region</label>
            @Html.TextBoxFor(m => m.Region)
            <label>Postal Code</label>
            @Html.TextBoxFor(m => m.PostalCode)
            <label>Iso Country</label>
            @*La api no permite editar paises
             @Html.TextBoxFor(m => m.IsoCountry)
            <label>Friendly Name</label>*@
            @Html.TextBoxFor(m => m.FriendlyName)
            <input type="submit" name="name" value="Save Customer" />

        </fieldset>
    }
</div>

