@model SMS.Client.Models.MessageToSend


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Skeleton.cshtml";
}

<h2>Envia un Mensaje</h2>

<div class="row" >
    <div class="six column">
        @using (Html.BeginForm("SendMessage", "SendSMS", FormMethod.Post))
        {
            <fieldset>
                <label>Destinatario: </label>
                @Html.TextBoxFor(Model => Model.to)
                <label>Remitente: </label>
                @Html.TextBoxFor(Model => Model.from)
                <label>Cuerpo del Mensaje: </label>
                @Html.TextBoxFor(Model => Model.body)
                <label>MediaURL: </label>
                @Html.TextBoxFor(Model => Model.MediaURL)
                <input type="submit" value="Enviar SMS" />
            </fieldset>
        }
    </div>
    <div class="six column">
        @if (ViewBag.temp != null)
        {
            var tmp = (Twilio.Message)(ViewBag.temp);
            <fieldset>
                <label>Sid - ID</label>
                @tmp.Sid
                <label>Estado</label>
                @tmp.Status
                <label>Fecha de Creacion</label>
                @tmp.DateCreated
                <label>Fecha en la que fue enviado: </label>
                @tmp.DateSent
                <label>Error Code: </label>
                @tmp.ErrorCode
                <label>Mensaje de Error: </label>
                @tmp.ErrorMessage
                <label>Precio</label>
                @tmp.Price
                <label>Destinatario</label>
                @tmp.To
                <label>URL</label>
                @tmp.Uri
                <label>Api Version</label>
                @tmp.ApiVersion
                <label>AccountSid</label>
                @tmp.AccountSid
            </fieldset>
        }
    </div>
</div>

<div class="container">
    <div>
        <br style="clear:both">
        <div class="form-group col-md-4 ">
            <label id="messageLabel" for="message">Message </label>
            <textarea class="form-control input-sm " type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
            <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
        </div>
        <br style="clear:both">
        <div class="form-group col-md-2">
            <button class="form-control input-sm btn btn-success disabled" id="btnSubmit" name="btnSubmit" type="button" style="height:35px"> Send</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#characterLeft').text('140 characters left');
        $('#message').keydown(function () {
            var max = 140;
            var len = $(this).val().length;
            if (len >= max) {
                $('#characterLeft').text('You have reached the limit');
                $('#characterLeft').addClass('red');
                $('#btnSubmit').addClass('disabled');
            }
            else {
                var ch = max - len;
                $('#characterLeft').text(ch + ' characters left');
                $('#btnSubmit').removeClass('disabled');
                $('#characterLeft').removeClass('red');
            }
        });
    });
</script>



